.navbar_container{
  height: 200px;
  background-color: rgba(142, 82, 150, 0.308);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-image: url('./common/logoAlkemy.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container_form{
  margin-top: 150px;
  padding: 10px;
  border: 2px solid #ab4518;
  border-radius: 10px;
  box-shadow: -1px 8px 16px 0px rgba(22,110,20,0.75);
  -webkit-box-shadow: -1px 8px 16px 0px rgba(22,110,20,0.75);
  -moz-box-shadow: -1px 8px 16px 0px rgba(22,110,20,0.75);
}

.responsive_form{
  width: 50%;
}

.responsive_elements{
  width: 50%;
}

.border_card{
  box-shadow: -1px 6px 3px -1px rgba(174,202,58,0.75);
  -webkit-box-shadow: -1px 6px 3px -1px rgba(174,202,58,0.75);
  -moz-box-shadow: -1px 6px 3px -1px rgba(174,202,58,0.75);
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.border_text_card{
  border: 2px solid black;
  border-radius: 40px;
}

.bg_modal{
  background-color: rgba(116, 114, 46, 0.267)
}

@media (min-width: 250px ) and (max-width: 600px){
  .responsive_form{
    width: 80%;
  }

  .responsive_elements{
    width:100%;
  }
}
